{{ partial "header.html" . }}
<div class="row">
    <div class="col-md-9">
        <h2>Kommende Treffen</h2>
        {{ $.Scratch.Add "futureMeetingsFound" false }}
        {{ range first 10 (where .Data.Pages "Section" "termine") }}
            {{ if ge .Date.Unix now.Unix }}
                {{ $.Scratch.Set "futureMeetingsFound" true }}
                {{ partial "terminhomepage.html" . }}
            {{ end }}
        {{ end }}
        {{ if eq ($.Scratch.Get "futureMeetingsFound") false}}
            Aktuell planen wir das nächste Treffen. Sobald wir einen Termin gefunden haben werden wir ihn hier veröffentlichen
        {{ end }}
         <h2>Vergangene Treffen</h2>
        {{ range first 10 (where .Data.Pages "Section" "termine") }}
            {{ if lt .Date.Unix now.Unix }}
                {{ partial "terminhomepage.html" . }}
            {{ end }}
        {{ end }}
    </div>
    <div class="col-md-3 bilder">
        <div><img src="/img/ineta.png" alt=""></div>
    </div>
</div>
{{ partial "footer.html" . }}