<div class="row">
    <div class="col-md-1">
        <div class="date">
            <p>{{ .Date.Format "02"}} </p>
            <p>{{ .Date.Format "Jan"}}</p>
        </div>
    </div>
    <div class="col-md-9 artikel">
        <h3>{{.Title}}, {{ .Date.Format "02.01.2006"}} um {{ .Date.Format "15:04" }} Uhr in den Räumen des TZK Koblenz mit 
            {{if isset .Params "speaker" }} 
                {{if isset .Params "speakerurl" }}
                    <a href="{{ .Params.speakerurl}}"> <i class="fa fa-xing" aria-hidden="true"></i> 
                {{ end }} 
                {{ .Params.speaker}} 
                {{if isset .Params "speakerurl" }}
                </a>
                {{ end }} 
            {{ end }}</h3>
        <p>
            {{ .Summary}}
        </p>
        <div>
            <a href="{{ .Permalink }}" class="btn btn-default mehrlesen">Mehr Lesen  <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
